@custom-selector :--body :global(body);
@custom-selector :--svg :global(svg);
@custom-selector :--btn-hover :not(:disabled):hover;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}
