* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 1em OpenSans;
    transition: all 300ms ease;
}
html, body {
    background-color: var(--color1, #202225);
}
::-webkit-scrollbar {
    background-color: var(--color1);
    width: 0.7em;
    height: 0.7em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}
h1, h2, h3, h4, h5, h6, span, p {
    color: var(--text);
}
li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
a {
    display: block;
    text-decoration: none;
    color: var(--text);
    height: 100%;
    width: 100%;
}
svg {
    width: var(--size, 32px);
    height: var(--size, 32px);

    path {
        fill: var(--icon) !important;
    }
}
fieldset {
    border: none;
}
button {
    border: none;
    cursor: pointer;
}
input,
textarea {
    border: none;
    outline: none;
}
input {
    background-color: var(--color1);
    color: var(--text);
    height: 40px;
    padding: 15px;

    &:focus {
        outline: 2px solid var(--text);
    }
}
input[type="submit"] {
    cursor: pointer;
}
