@use "./breakpoints";
@use "./themes";
@use "./reset";

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf") format("woff2"),
         url("/fonts/OpenSans-Medium.ttf") format("woff2"),
         url("/fonts/OpenSans-MiduimItalic.ttf") format("woff2"),
         url("/fonts/OpenSans-Italic.ttf") format("woff2"),
         url("/fonts/OpenSans-Bold.ttf") format("woff2"),
         url("/fonts/OpenSans-BoldItalic.ttf") format("woff2");
}

body {
    $header: 60px;
    $footer: 20px;
    overflow-y: hidden;
    display: grid;
    grid-template:
        "header header" $header
        "aside main" calc(100vh - ($header + $footer))
        "footer footer" $footer
        / min-content
    ;
}
